@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700;9..144,800;9..144,900&display=swap');

/*==== CONFIGURATION =============  */
:root {

/* ----------- Color -------------- */
  --color-white: #fdfffd;
  --color-text: #8d8c96;
  --color-dark: #202e40;
  --color-yellow-underline: #ffefb5;
  --color-pink-underline: #fad5cf;
  --color-greenblack:#25554a;
  --color-blueblack: #1c516b;
  --color-header-bg:#3dbeff;

/* -----------Typographie & spacing ------------ */
  --font-primary:Barlow,'Segoe UI',sans-serif;
  --font-secondary:Fraunces,serif;
  --fs: 16px;
  --lh: 1.4;
  --fw: 500;
  --padding-box-min: 2rem;
  --padding-box: 4rem;
  --padding-box-medium: 6.25rem;
  --padding-box-big: 9.3rem;
  
  --padding-page: 10px;

  --space-box-min: 3.125rem;
  --space-box:4.68rem;
  --space-box-medium: 6.25rem;
  --space-box-max:7.5rem;
  --padding-element: 0.83em;
  
  --navbar-link-space: 20px;
  --navbar-link-space-small: 5px;
  --navbar-link-space-medium: 15px;
  --width-max: 1250px;
  --max-width-container: 1300px;
  
}

/* ------------- BASICS STYLES ---------- */
*,*::before,*::after{
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s;
}

html, body {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  font-size: var(--fs);
  font-weight: var(--fw);
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  color: var(--color-text);
}
p {
  padding-bottom:var( --padding-element);
  line-height: var(--lh);
}

 h1,h2,h3,h4,h5,h6,.title,.link-details{
  font-family: var(--font-secondary);
  color: var(--color-dark);
  font-weight: bold;
  
}

.title-white {
  color: var(--color-white);
}

.title-1 {
  font-size: 2rem;
}

.title-2 {
  font-size: 1.5rem;
}
.title-3 {
  font-size: 1.2rem;
}
tit
a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container,.container-fluid {
  margin: 0 auto;
  padding: var(--padding-page);
}

.container-fluid {
  max-width:var(--max-width-container);
}

.container {
  max-width: var(--width-max);
}
/* ---- END BASICS STYLE -----------  */


/* ------------ HEADER --------------- */
.header {
  color: var(--color-white);
  min-height: 800px;
  background: url('/assets/images/desktop/image-header.jpg') no-repeat top center / cover;
  background-color: var(--color-header-bg);
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__logo,.header__logo img {
  display: inline-block;
}

.header__logo {
  width: 155px;
  margin: 1rem 0;
}
.topbar{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar__list__item,.navbar__link {
  display:inline-block;
}

.navbar__link {
  margin:var(--navbar-link-space-small);
}
.navbar-contact .navbar__link {
  padding: var(--navbar-link-space-medium) 1.5rem;
  text-transform: uppercase;
  border-radius: 99px;
  background-color: var(--color-white);
  color: var(--color-dark);
  font-family: var(--font-secondary);
  font-weight: bold;
}
  
.baseline {
  max-width: 100%;
  text-align: center;
  padding: 2rem;
}

.baseline__brand {
  letter-spacing: 9px;
  color: inherit;
}

/* ----- END HEADER STYLES ---------- */


/* MAIN STYLES */
.box-min {
  margin: var(--space-box-min) 0;
}

.box {
  margin: var(--space-box) 0;
}

.box-medium {
  margin: var(--space-box-medium);
}

.block {
  display: flex;
  align-items: center;
}
.baseline__arrow {
  font-size: 35px;
  color: inherit;
}

.home-section {
  display: grid;
  grid-template-columns: minmax(250px, 1fr);
  margin-bottom: var(--space-box-min);
    grid-template-rows: repeat(6, minmax(250px, 1fr));
}

.article-text {
  padding: var(--padding-box-min);
}

.home-section .link-details {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.home-section .link-details::after{
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left:-5px;
  background-color: yellow;
  border-radius: 99px;
  z-index: -1;
  width:calc( 100% + 10px);
  
}
.img-content-text {
  position: relative;
}
.content-text {
  text-align: center;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.content-text .title {
  color: inherit;
}

.article-img{
background: no-repeat center center/ cover;
}
.bg-1 {
  background-image: url(/assets/images/desktop/image-transform.jpg);
}
.bg-2{
  background-image:url(/assets/images/desktop/image-stand-out.jpg);
}

.bg-3{
  background-image:url(/assets/images/desktop/image-graphic-design.jpg);
  color: var(--color-greenblack);
}

.bg-4{
  background-image:url(/assets/images/desktop/image-photography.jpg);
  color: var(--color-blueblack);
}

/* UTILITIES  */

/* TESTIMONIALS */
.flex-col-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.testimonials{
  flex-direction: column;
  justify-content: center;
  margin: var(--space-box-medium) auto;
}
.testimonials .title {
  color: #a9aaab;
}

.testimonials strong {
  display: block;
}

.testimonials .card {
  flex-basis: 30%;
  margin-bottom: 1rem;
  text-align: center;
  min-width: 350px;
  min-height: 250px;
}
.testimonials .card-img {
  overflow: hidden;
  width: 70px;
  height: 70px;
}
.testimonials .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}

/* ---RESPONSIVE  */

@media only screen and (min-width: 576px) {
  .title-1 {
  font-size: 2.5rem;
}
.title-2 {
  font-size: 2rem;
}
  
.title-3 {
  font-size: 1.5rem;
}
  
.article-text {
  padding: var(--padding-box);
}
} 
@media only screen and (min-width: 768px) {
  .title-1 {
  font-size: 3rem;
}
  
.title-3 {
  font-size: 1.6rem;
}
  .header .topbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 10px;
  }
  .navbar{
    display: flex;
    align-items: center;
  }
  
.navbar__link {
  margin:0 var(--navbar-link-space-medium);
}
  
  .home-section {
    
  grid-template-columns: repeat(2,minmax(350px, 1fr));
    grid-template-rows: repeat(3, minmax(350px, 1fr));
  }
  
.article-text {
  padding: var(--padding-box-medium);
}

} 

@media only screen and (min-width: 992px) {
  .title-1 {
  font-size: 3.5rem;
}
.title-2 {
  font-size: 2.2rem;
}
  
.title-3 {
  font-size: 1.8rem;
}
  .container, .container-fluid {
    padding:0;
  }
  
.navbar__link {
  margin:0 var(--navbar-link-space);
}
  .baseline__brand {
  margin-bottom: var(--space-box-medium);
  }
  .home-section {
    
  grid-template-columns: repeat(2,minmax(450px, 1fr));
    grid-template-rows: repeat(3, minmax(450px, 1fr));
    margin-bottom: var(--space-box-medium);
  }
  
.article-text {
  padding: var(--padding-box-big);
}
  
  .article-text.text-1 {
    
  padding-right: var( --padding-box-medium);
  }

  .article-text.text-2 { 
  padding-left: var( --padding-box-medium);
  }

} 

@media only screen and (min-width: 1200px) {
.title-2 {
  font-size: 2.5rem;
}
  
  .home-section {
    
  grid-template-columns: repeat(2,minmax(550px, 1fr));
    grid-template-rows: repeat(3, minmax(550px, 1fr));
  }
  
} 