@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,600;9..144,700;9..144,800;9..144,900&display=swap');

/*==== CONFIGURATION =============  */
:root {

/* ----------- Color -------------- */
  --color-white: #fdfffd;
  --color-text: #8d8c96;
  --color-dark: #202e40;
  --color-yellow: #fad800;
  --color-yellow-underline: #ffefb5;
  --color-pink-underline: #f9d9d0;
  --color-greenblack:#25554a;
  --color-blueblack: #1c516b;
  --color-header-bg:#3dbeff;
  --color-footer-bg: #90d4c5;

/* -----------Typographie & spacing ------------ */
  --font-primary:Barlow,'Segoe UI',sans-serif;
  --font-secondary:Fraunces,serif;
  --fs: 20px;
  --fs-link: 18px;
  --lh: 1.4;
  --fw: 600;
  --l-space: 9px;
  --padding-box-min: 2rem;
  --padding-box: 4rem;
  --padding-box-medium: 7.25rem;
  --padding-box-big: 9.3rem;
  --space-default : 2.5rem;
  
  --padding-page: 10px;

  --space-box-min: 3.125rem;
  --space-box:4.68rem;
  --space-box-medium: 6.25rem;
  --space-box-max:7.5rem;
  --padding-element: 0.83em;
  
  --navbar-link-space: 20px;
  --navbar-link-space-small: 5px;
  --navbar-link-space-medium: 15px;
  --width-max: 1250px;
  --max-width-container: 1300px;
  
}

/* ------------- BASICS STYLES ---------- */
*,*::before,*::after{
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s;
}

html, body {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  font-size: var(--fs);
  font-weight: var(--fw);
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  color: var(--color-text);
}
p {
  padding-bottom:var( --padding-element);
  line-height: var(--lh);
  font-size: 18px;
}

 h1,h2,h3,h4,h5,h6,.title,.link-details{
  font-family: var(--font-secondary);
  color: var(--color-dark);
  font-weight: bold;
  
}
.title {
  font-weight: 900;
}
.title-white {
  color: var(--color-white);
}

.title-1 {
  font-size: 1.8rem;
}

.title-2 {
  font-size: 1.6rem;
}
.title-3 {
  font-size: 1.2rem;
}
a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container,.container-fluid {
  margin: 0 auto;
  padding: 30px var(--padding-page);
}

.container-fluid {
  max-width:var(--max-width-container);
}

.container {
  max-width: var(--width-max);
}
/* ---- END BASICS STYLE -----------  */


/* ------------ HEADER --------------- */
.header {
  color: var(--color-white);
  min-height: 800px;
  background: url('/assets/images/desktop/image-header.jpg') no-repeat top center / cover;
  background-color: var(--color-header-bg);
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header__logo,.header__logo img {
  display: inline-block;
}

.header__logo , .footer__logo {
  width: 155px;
}
.header__logo{
  margin: 1rem 0;
}
.topbar{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.navbar {
  width: 100%;
    background-color: #fff;
    color: var(--color-text);
    padding:var(--space-default);
  margin-top: var(--space-default);
}
.header__humberger ~ .navbar {
  display:none;
  position: relative;
  z-index: 10;
}
.header__humberger:checked ~ .navbar {
  display: block;
  animation: slideIn 1s forwards;
  min-width: max-content;
    width: calc(100% - 60px);
    position: fixed;
    top: 70px;
    right: 30px;
}
.header .navbar::before {
  content:'';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -30px;
  right:0px;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid var(--color-white);
  border-bottom: 20px solid var(--color-white);
}

.navbar__list__item{
  margin-bottom: 2rem;
  font-weight: 500;
}
.navbar__list__item:last-child {
  margin-bottom: 0;
}

.navbar__link {
  margin:var(--navbar-link-space-small);
  font-size: var(--fs-link);
}
.navbar-contact {
    margin: 3rem 0 1rem 0;
}

.navbar-contact .navbar__link {
      padding: 0.7rem 1.3rem;
  text-transform: uppercase;
  border-radius: 99px;
  background-color: var(--color-yellow);
  color: var(--color-dark);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size:0.9rem;
}
.header__humberger{
  display:none;
}
.box-menu {
    width: 30px;
  height:30px;
    margin: 0.625rem;
    border: none;
    cursor: pointer;
    border-radius: 0.125rem;
    position: relative;
}
.humberger-label{
  position: absolute;
  right: 15px;
  top: 35px;
}
.container-lines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.container-lines .line {
  position: absolute;
  left:0;
  border-radius: 5px;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
}
.container-lines .line:nth-child(1) {
  top: 0;
}
.container-lines .line:nth-child(2) {
  top: 12px;
}
.container-lines .line:nth-child(3) {
  top: 24px;
}

/* --------ANIME HUMBERGER -------------*/
.toggle-humberger .line:nth-child(3), .toggle-humberger .line:nth-child(1) {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}
.toggle-humberger .line:nth-child(2) {
  transition: opacity 0.3s 0.3s ease-in-out;
}

.header__humberger:checked ~ .toggle-humberger .line:nth-child(1), .header__humberger:checked ~ .toggle-humberger .line:nth-child(3) {
  top: 12px;
  transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
}
.header__humberger:checked ~ .toggle-humberger .line:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__humberger:checked ~ .toggle-humberger .line:nth-child(1) {
  transform: rotate(45deg);
}

.header__humberger:checked ~ .toggle-humberger .line:nth-child(3) {
  transform: rotate(-45deg);
}
  
.baseline {
  max-width: 100%;
  text-align: center;
  padding: 1rem;
}

.baseline__brand {
  color: inherit;
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
}

/* ----- END HEADER STYLES ---------- */

.arrow-container svg {
  animation: Up 2s linear infinite;
}
/* MAIN STYLES */
.box-min {
  margin: var(--space-box-min) 0;
}

.box {
  margin: var(--space-box) 0;
}

.box-medium {
  margin: var(--space-box-medium) 0;
}

.box-medium {
  margin: var(--space-box-big) 0;
}

.block {
  display: flex;
  align-items: center;
}
.baseline__arrow {
  font-size: 35px;
  color: inherit;
}

.home-section {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  margin-bottom: var(--space-box-min);
    grid-template-rows: repeat(6, minmax(350px, 1fr));
}

.article-text {
  padding: var(--padding-box-min);
}

.home-section .link-details {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.home-section .link-details::after{
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left:-5px;
  border-radius: 99px;
  z-index: -1;
  width:calc( 100% + 10px);
  
}
.link-details.yellow-details::after{
  background-color:var(--color-yellow-underline);
}

.link-details.pink-details::after{
  background-color:var(--color-pink-underline);
}
.img-content-text {
  position: relative;
}
.content-text {
  text-align: center;
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.content-text .title {
  color: inherit;
  font-weight: 900;
}
.content-text .title-3, .context-text h3 {
  font-size: 1.35rem;
}
.content-text p{
  font-size: 14px;
  
}
.article-img{
background: no-repeat center center/ cover;
}
.bg-1 {
  background-image: url(/assets/images/desktop/image-transform.jpg);
  order: -1;
}

.bg-2{
  background-image:url(/assets/images/desktop/image-stand-out.jpg);
  grid-column-start: 1;
}

.bg-3{
  background-image:url(/assets/images/desktop/image-graphic-design.jpg);
  color: var(--color-greenblack);
}

.bg-4{
  background-image:url(/assets/images/desktop/image-photography.jpg);
  color: var(--color-blueblack);
}

/* UTILITIES  */

/* TESTIMONIALS */
.flex-col-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.testimonials{
  flex-direction: column;
  justify-content: center;
  margin: var(--space-box-medium) auto;
}
.testimonials .title {
  color: #a9aaab;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-align: center;
}

.testimonials strong {
  display: block;
  font-family: var(--font-secondary);
  color: var(--color-dark);
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}
.testimonials small {
  font-weight: 500;
}
.testimonials .card {
  flex-basis: 30%;
  margin-bottom: 1rem;
  text-align: center;
  width: 200px;
  min-height: 350px;
  margin: 0px 15px;
}
.testimonials .card-img {
  overflow: hidden;
  width: 70px;
  height: 70px;
}
.testimonials .card-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}

/* ---FOOTER  */

.footer {
  color: var(--color-greenblack);
  background-color: var(--color-footer-bg);
  padding: var(--space-box-min);
}
.footer__logo, .footer .navbar {
 margin-bottom: 1.5rem;
}
.footer * {
  color: inherit;
}
.footer a {
  text-decoration: none;
}
.footer .navbar__link:hover {
  color: var(--color-white);
}
.footer .navbar {
  background: transparent;
    padding: 0.5rem 0;
    margin-top: 0;

}
.footer .navbar__list__item {
  margin-bottom: 0;
}
.footer .navbar-social ul, .footer .navbar__list {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.footer .navbar__list {
  justify-content: space-around;
}
.footer .icon {
  font-size: 20px;
}
/* BLOCK IMAGES */
.block-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block-img .item {
  overflow: hidden;
  flex-basis: 50%;
}

/* ---RESPONSIVE  */

@media only screen and (min-width: 320px) {
  .title-1 {
    font-size: 2rem;
  }
  humberger-label {
    right: 15px;
}
  .baseline {
    padding:1.5rem;
  }
  .baseline__brand {
    letter-spacing: 4px;
  }
}

@media only screen and (min-width: 576px) {
  
.baseline__brand {
  letter-spacing: 9px;
}

  .title-1 {
  font-size: 2.5rem;
}
.title-2 {
  font-size: 2rem;
}
  
.title-3 {
  font-size: 1.5rem;
}
  
.article-text {
  padding: var(--padding-box);
}

  .block-img .item {
  flex-basis: 50%;
}
  
.testimonials .card {
  width: 250px;
    
}
} 
@media only screen and (min-width: 768px) {
  :root{ 
    --fs: 16px;
  --fs-link:var(--fs);
  }
  body {
    
  text-align: left;
  }
  p {
    font-size: 17px;
  }
  .content-text p {
    font-size: 15px;
  }
  .title-1 {
  font-size: 3rem;
}
  .navbar__link {
    position: relative;
  }
  .navbar__list .navbar__link::after {
    content: '';
    position: absolute;
    bottom:-2px;
    left:0;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scale(0);
    transition: transform 0.3s;
  }
  .navbar__link:hover::after {
    transform: scale(1);
  }
  .content-text {
  bottom: -50px;
}

  
.navbar {
  width: auto;
    background-color: transparent;
    color: inherit;
    padding:0;
  margin-top:0;
}
  .navbar__list{
    display: flex;
    align-items: center;
  }
  
  
.block-img .item {
  flex-basis: 100%;
}
.navbar-contact .navbar__link {
  background-color: var(--color-white);
}
  
.navbar__list__item{
  margin-bottom: 0rem;
}
  
.title-3 {
  font-size: 1.6rem;
}
  .header .topbar {
    position: static;
    flex-direction: row;
  align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
  }
   .header .topbar .navbar {
     position: static;
     width: auto;
   }
.navbar-contact{
  margin: 0;
}

.navbar-contact .navbar__link {
      padding: 0.8rem 1.4rem;
  font-size: 1.2rem;
}
  .navbar-contact .navbar__link:hover {
    background-color: var(--color-yellow);
  }
.header .navbar::before {
  display: none;
}
  .header__humberger,.humberger-label{
    display: none;
  }
  .header .topbar .navbar, .footer .navbar{
    display: flex;
    align-items: center;
  }
  
.navbar__link {
  margin:0 var(--navbar-link-space-medium);
}
  
  .home-section {
    --fs: 16px;
  grid-template-columns: repeat(2,minmax(350px, 1fr));
    grid-template-rows: repeat(3, minmax(350px, 1fr));
  }
  .bg-1 {
    order: initial;
  }
  .bg-2 {
    
  grid-column-start: 1;
  grid-row-start: 2;
  }
  .block-img .item {
  flex-basis: 30%;
}
  .testimonials .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .testimonials .card-header, .testimonials .card-footer {
    margin: 1.5rem 0;
  }
  
.testimonials .card {
  width: 350px;
}

} 

@media only screen and (min-width: 992px) {
 
  .title-1 {
  font-size: 3.5rem;
}
.title-2 {
  font-size: 2.2rem;
}
  
.title-3 {
  font-size: 1.8rem;
}
  .container, .container-fluid {
    padding:0;
  }
  
.navbar__link {
  margin:0 var(--navbar-link-space);
}
  .baseline__brand {
  margin-bottom: var(--space-box-medium);
  }
  .home-section {
    
  grid-template-columns: repeat(2,minmax(450px, 1fr));
    grid-template-rows: repeat(3, minmax(450px, 1fr));
    margin-bottom: var(--space-box-medium);
  }
  
.article-text.text-1 {
  padding: var(--padding-box-medium) var(--padding-box) var(--padding-box-medium) var(--padding-box-medium);
}
   
.article-text.text-2 {
  padding: var(--padding-box-medium) var(--padding-box) var(--padding-box-medium) var(--padding-box);
}
  .block-img .item {
  flex-basis: 25%;
}
  
  .article-text.text-2 { 
  padding-left: var( --padding-box-medium);
  }
  
.testimonials .card {
  width: 450px;
}

} 

@media only screen and (min-width: 1200px) {
.title-2 {
  font-size: 2.5rem;
}
  
  .home-section {
    
  grid-template-columns: repeat(2,minmax(550px, 1fr));
    grid-template-rows: repeat(3, minmax(550px, 1fr));
  }
  
} 

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(15px);
  }
}


@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(-15px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}
@keyframes Up {
  0%{ 
    transform: translateY(-15px);
  }
  25% 
  {
    
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  75% {
    transform: translate(0);
  }
  100% {
    
    transform: translateY(-15px);
  }
}